*{
    font-family: 'janna lt';
    box-sizing: border-box;
    direction: rtl;
}
h1{
    text-align: center;
}
body{
    background-color: #a0bacc;
}
a{
    text-decoration: none;
}
.logo{
    text-align: center;
    margin: 40px 0;
}
a{
    color: rgb(172, 4, 4);
    font-size: x-large;
    
   margin-top: 20px;
}
.logo img{
    background-color: rgb(237, 238, 240);
    width: 250px;
    height: 250px;
    border-radius: 200px;
}
.logo h1{
    font-size: 50px;
    font-weight: 500;
    color: #020c01;
    
    
}
.book{
    text-align: center
}
.book p{
    font-size: 24px;
}
.book input{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
}
.book input[type="submit"]{
    font-size: 16px;
    color: #fff;
    background: #00a9b0;
    border: 10px;
}
table{
 border-style: dotted ;
    width: 100%;
    text-align: center;
    font-size: 30px;
   
}
th{
    background: #00a9b0;
    color: #fff;
    padding: 5px 0;
    
    
}
.main logo span{
    color: rgb(131, 14, 14);
}